/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*/

.content {
    padding: 20px;
}
.grails-icon > img {
    height: 20px;
}

.logincard {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.tasklist {
    list-style: none;
    padding-left: 0px;
}

.taskItem {
    display: inline-block;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
}
.taskItem input:read-only {
    border: 0px none white;
    border-radius: 0.25rem;
    background-color: transparent;
}
.taskItem .taskButtons {
    float: right;
}

