/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require open-iconic/css/open-iconic-bootstrap
*= require bootstrap
*= require_self
*/

.content {
    padding: 20px;
    margin-top: 60px;
}
.grails-icon > img {
    height: 20px;
}

.logincard {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.tasklist {
    list-style: none;
    padding-left: 0px;
}

.taskItem {
    display: inline-block;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    vertical-align: top;
   
    min-width: 430px;
}
.taskBody {
    min-height: 90px;
}
.taskBody > p {
    margin-bottom: 0.5rem;
}
@media (max-width: 800px) { /* Below 800 px two items do not have place anymore anyway */
    .taskItem {
        min-width: auto;
        min-height: auto;
        display: block;
    }
}

.taskItem input:read-only {
    border: 0px none white;
    border-radius: 0.25rem;
    background-color: transparent;
}
.taskButtonHoster {
    min-height: 35px;
}
.taskItem .taskButtons {
    float: right;
}

.newTaskButton {
    display: inline-block;
    margin-bottom: 10px;
}
@media (max-width: 540px) {
    .colRepetition {
        margin-left: 20px;
    }
}